{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jamie's Bestival</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="wid=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<h1>Let's fucking party!</h1>
</body>
</html>